<div class="row">
  <div class="col-lg-4" ng-repeat="post in $ctrl.group.posts">
    <div class="post-box">

      <div class="post-header">
        <span> {{post.message | getTitleFromMessage | limitTo: 45 }} </span>
        <span class="post-info">{{ post.created_at | date }} | Marek Bozych</span>
      </div>

      <div class="post-content">
        {{ post.message | limitTo: 500}}
      </div>
      
      <div class="post-footer">
        Tags:
        <span class="post-tag">Javascript</span>
        <span class="post-tag">HTML</span>
        <span class="post-tag">CSS</span>
      </div>   
    </div>
  </div>
</div>
