<div class="row" infinite-scroll="$ctrl.onLoadMore()">
  <div class="col-lg-4" ng-repeat="post in $ctrl.posts">
    <div class="post-box">

      <div class="post-header">
        <a href="http://facebook.com/{{post.fb_post_id}}">{{post.message | getTitleFromMessage | limitTo: 45 }}</a>
        <span class="post-info">{{ post.created_at | date }} | {{ post.from.name }}</span>
      </div>

      <div class="post-content">
        {{ post.message | limitTo: 500}}
      </div>
      
      <div class="post-footer">
        Tags:
        <span class="post-tag">Javascript</span>
        <span class="post-tag">HTML</span>
        <span class="post-tag">CSS</span>
      </div>   
    </div>
  </div>
</div>
