.sidebar ul.nav {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.sidebar .nav > li {
  margin: 0;
  border-bottom:1px dashed #eee;
}

.sidebar .nav > li:last-child{
   border-bottom:0px;
}

.sidebar .nav > li > a {
  font-size: 14px;
  line-height: 20px;
  padding: 15px 15px;
  color: #999;
  display: block;
  font-weight:bold;
  background:none;
  text-decoration: none;
  border-top:0px;
  font-weight:bold;
}

.sidebar .nav > li > a > i {
  margin-right:5px;
}

.sidebar .nav li a:hover, .sidebar .nav li.current > a {
  background: #fff;
  color: #555;
  border-bottom:0px;
}